{% import "_base/_macros.j2" as macros -%}
{% if node.routing and node.routing.ospf_enabled -%}
{{ macros.comment("OSPF routing configuration for " ~ node.name) }}

protocol ospf v2 ospf_v2 {
    ipv4 {
        import all;
        export all;
    };

{% for area in (node.routing.ospf_areas or []) -%}
    area {{ area.id }} {
{% for iface in (area.interfaces or []) -%}
        interface "{{ iface }}" {
            hello {{ area.hello }};
            retransmit {{ area.retransmit }};
            cost {{ area.cost }};
            transmit delay 1;
            dead {{ area.dead }};
            type broadcast;
        };
{% endfor -%}
    };
{% endfor -%}
}
{% endif %}
