{% import "_base/_macros.j2" as macros -%}
{% if node.bridge and node.bridge.configured -%}
{{ macros.comment("Network configuration for bridge " ~ node.bridge.name ~ " on " ~ node.name) }}
[Match]
Name={{ node.bridge.name }}

[Network]
LinkLocalAddressing=no
{% endif %}
