{% import "_base/_macros.j2" as macros -%}
{{ macros.comment("Network configuration for " ~ iface.name ~ " on " ~ node.name) }}
[Match]
Name={{ iface.name }}

{% if iface.mtu -%}
[Link]
MTUBytes={{ iface.mtu }}
{% endif -%}

[Network]
{% if iface.dhcp -%}
DHCP=yes
{% else -%}
LinkLocalAddressing=no
{% if iface.ip -%}
Address={{ iface.ip }}
{% endif -%}
{% if iface.gateway -%}
Gateway={{ iface.gateway }}
{% endif -%}
{% endif -%}
{% if iface.proxy_arp -%}
IPv4ProxyARP=yes
{% endif %}
{% for addr in iface.proxy_arp %}
[IPv4ProxyARPAddress]
Address={{ addr }}
{% endfor %}
